<h1>POST Request Received</h1>
<ul>GET Data
  {{#each getDataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>
<ul>POST Data
  {{#each postDataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>